<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./index.css"/>
</head>
<body>
  <main>
    <div class="content">
      <article class="card">
        <header class="media">
          Media
        </header>
        <div class="body">
          Lorem ipsum dolor sit amet
        </div>
        <footer class="footer">
          Footer
        </footer>
      </article>

      <article class="card">
        <header class="media">
          Media
        </header>
        <div class="body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </div>
        <footer class="footer">
          Footer
        </footer>
      </article>

      <article class="card">
        <header class="media">
          Media
        </header>
        <div class="body">
          Lorem ipsum dolor sit amet
        </div>
        <footer class="footer">
          Footer
        </footer>
      </article>

      <article class="card">
        <header class="media">
          Media
        </header>
        <div class="body">
          Lorem ipsum dolor sit amet
        </div>
        <footer class="footer">
          Footer
        </footer>
      </article>
    </div>
  </main>
</body>
</html>
