* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 270px;
}

.header, .footer {
  flex: 0 0 70px;
}
.header {
  background: #4fbbaa;
}
.footer {
  background: #ffd000;
}

.main {
  flex: 1 1 0;
  display: flex;
}

.content {
  flex: 1 1 0;
}

.nav, aside {
  flex: 0 0 200px;
}
.nav {
  background: #8ecbe6;
}
.aside {
  background: #cc8ef5;
}

.content, .nav, .aside, .header, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

