html, body {
    height: 100%;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #f4f5f7;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

#root {
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.container {
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.container-inner {
    height: 100%;
    position: relative;
    z-index: 0;
}

.surface {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;

    background: #cc8ef5;
}

main {
    position: relative;
    overflow-y: auto;
    outline: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    background: #890a0c;
}

.main-inner {
    display: flex;
    flex-direction: row;
    flex: 1 1 0%;
    position: relative;
    overflow-y: auto;
}

.main-inner-2 {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    overflow-y: auto;
}

.content {
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
    outline: none;
}

.board-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.board-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    position: relative;
    transition: margin .1s ease-in;

    padding: 8px;
}

.board-header {
    height: auto;
    padding: 8px 4px 4px 8px;
    position: relative;

    background: #8ecbe6;
}

.board-canvas {
    position: relative;
    flex-grow: 1;

    background: #4fbbaa;
}

.board {
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.list-wrapper {
    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.list-wrapper:first-child {
    margin-left: 8px;
}

.list {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;

    height: 100%;
}

.list-header {
    flex: 0 0 auto;
    padding: 10px 8px;
    position: relative;
    min-height: 20px;
}

.list-cards {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;

    background: #f5f3f3;
}


.list-footer {
    min-height: 38px;
    max-height: 38px;
    display: flex;
    justify-content: space-between;
}

.list-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

footer {
    height: 100px;
    background: #E2264D;
}


/* scrollbar */
.scrollbar::-webkit-scrollbar-button {
    display: block;
    height: 4px;
    width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgba(9,30,66,.25);
}

.scrollbar::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track-piece {
    background: rgba(9,30,66,.15);
}

.scrollbar {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}

