<!-- trelloを参考に -->
<!-- 横スクロール要素をabsoluteで四方向を0で固定 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="root">
      <div class="surface">
        <div class="header">header</div>
        <div class="board-header">content header</div>
        <div class="board-canvas">
          <div class="board scrollbar">
            <!-- list-wrapper -->
            <div class="list-wrapper">
              <div class="list">
                <div class="list-header">header</div>
                <div class="list-cards scrollbar">
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                </div>
                <div class="list-footer"></div>
              </div>
            </div>
            <!-- list-wrapper -->
            <!-- list-wrapper -->
            <div class="list-wrapper">
              <div class="list">
                <div class="list-header">
                  header
                </div>
                <div class="list-cards">
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                </div>
                <div class="list-footer"></div>
              </div>
            </div>
            <!-- list-wrapper -->
            <!-- list-wrapper -->
            <div class="list-wrapper">
              <div class="list">
                <div class="list-header">
                  header
                </div>
                <div class="list-cards">
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                </div>
                <div class="list-footer"></div>
              </div>
            </div>
            <!-- list-wrapper -->
            <!-- list-wrapper -->
            <div class="list-wrapper">
              <div class="list">
                <div class="list-header">
                  header
                </div>
                <div class="list-cards">
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                </div>
                <div class="list-footer"></div>
              </div>
            </div>
            <!-- list-wrapper -->
            <!-- list-wrapper -->
            <div class="list-wrapper">
              <div class="list">
                <div class="list-header">
                  header
                </div>
                <div class="list-cards">
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                </div>
                <div class="list-footer"></div>
              </div>
            </div>
            <!-- list-wrapper -->
            <!-- list-wrapper -->
            <div class="list-wrapper">
              <div class="list">
                <div class="list-header">
                  header
                </div>
                <div class="list-cards">
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                </div>
                <div class="list-footer"></div>
              </div>
            </div>
            <!-- list-wrapper -->
            <!-- list-wrapper -->
            <div class="list-wrapper">
              <div class="list">
                <div class="list-header">
                  header
                </div>
                <div class="list-cards">
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                  <a class="list-card" href="#">idea</a>
                </div>
                <div class="list-footer"></div>
              </div>
            </div>
            <!-- list-wrapper -->
          </div>
        </div>
        <!-- board-canvas -->
      </div>
      <footer>footer</footer>
    </div>
  </body>
</html>
