<!-- 横スクロールする要素を画面いっぱいに -->
<!-- 要素の高さを順々に100%で上から下の要素につないでいく方針で実装 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="index.css"/>
</head>
<body>
  <div class="container">
    <div class="nav">nav</div>
    <main class="main">
      <div class="content-header">content</div>
      <div class="content-body">
        <div class="cal-items-wrapper scrollbar">
          <div class="cal-items">
            <div class="cal-item">aaaaa</div>
            <div class="cal-item">aaaaa</div>
          </div>
          <div class="cal-items">
            <div class="cal-item">aaaaa</div>
          </div>
          <div class="cal-items">
            <div class="cal-item">aaaaa</div>
          </div>
          <div class="cal-items">
            <div class="cal-item">aaaaa</div>
          </div>
          <div class="cal-items">
            <div class="cal-item">aaaaa</div>
          </div>
          <div class="cal-items">
            <div class="cal-item">aaaaa</div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">footer</footer>
  </div>
</body>
</html>
